@using GoldRush.Weapons;

@namespace GoldRush

<root class="with-flex column with-gap with-shadow">
	@{
		if (Inventory == null) return;
		int i = 0;
		foreach (var weapon in Inventory.Weapons)
		{
			i++;
			<cell class="with-center with-padding-large with-gap @(weapon == Weapon ? "active" : "")">
				<label class="with-text name">@weapon.Name</label>

				<!-- show ammo for active weapon -->
				@if (weapon == Weapon)
				{
					<label class="with-description ammo">@FormatAmmo()</label>
				}
			</cell>
		}
	}
</root>

@code
{
	public Player Player => Game.LocalPawn as Player;
	public Weapon Weapon => Player?.ActiveWeapon;
	public Inventory Inventory => Player.Inventory;

	private string FormatAmmo()
	{
		if (!Weapon.HasAmmo())
			return "";

		var clip = Weapon.GetAmmo();

		var ammoType = Weapon.GetAmmoType();

		var reserve = Player.Ammo.GetAmmo(ammoType);

		return $"{clip} / {reserve}";
	}

	protected override int BuildHash()
	{
		if (Weapon.HasAmmo())
			return HashCode.Combine(Weapon, Weapon.GetAmmo(), Player.Ammo.GetAmmo(Weapon.GetAmmoType()));

		return HashCode.Combine(Weapon);
	}
}