Info {
    position: absolute;
    right: $safe-area-x;
    bottom: $safe-area-y;
    width: 250px;

    cell {
        transition: padding 0.2s ease;
        border-right: 4px solid transparent;

        &.active {
            padding: 16px;
            background: linear-gradient( to left, rgba( $neutral, 0.5 ), rgba( $neutral, 0 ));
            border-right: 4px solid white;

            .name {
                color: white;
                font-size: 24px;
            }
        }
    }
}
